<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Наши стоматологи</title>
    <link rel="stylesheet" th:href="@{/style.css}" href="static/style.css">
</head>
<body>
<h1>Наши стоматологи - гордость нашей клиники!</h1>
<br>
<p><ol>
    <li>1. Абдуллин Альберто Маратович - главный врач . Главный врач Стоматологии 1218.
        Окончил Оренбургский Государственный Медицинский Университет в 2001 году
        по специальности "Стоматология". Имеет 28 зубов.</li>
    <li>2. Матчин Артемиан Дмитриевич - ортодонт.
        Окончил Мурманский Медицинский Университет в 2011 году по специальности "Ортопедия".
        Прошел курсы повышения квалификации по выращиванию зубов.</li>
    <li>3. Смирнов Андрей Андрианович - ортодонт.
        Окончил Российский Медицинский Университет в 2020 году. Молодой специалист, подающий надежды.</li>
    <li>4. Антипин Алекс Владимирович - хирург.
        Окончил Барнаульский Медицинский Университет в 2009 году.
        Прошел курсы повышения квалификации по Джуниор Уздечка Девелопер.</li>
</ol></p>

</body>
</html>