<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Стоматология 1218</title>
    <link rel="stylesheet" th:href="@{/style.css}" href="static/style.css">
</head>
<body>
<div class="header">
    <div class="wrapper">
        <div class="header_body">
            <ul class="nav1">
                <li><a href="/auth/login">Войти(для администрации)</a></li>
                <li class="reg"><a href="/register">Записаться на прием(для пациентов)</a></li>
            </ul>
        </div>
    </div>
</div>
<h1>Добро пожаловать в стоматологию 1218!</h1>
<p>В нашем сайте стоматологии вы можете узнать информацию о наших докторах и записаться на прием!</p>
<div class="link"><p><a href="/doctors">Наши стоматологи</a></p></div>
<br><br>
<p>Наш адрес: г.Москва, пр. Вернадского, д.86, стр.1, офис 1218</p>
<p>Телефон: +7(288)265-43-21</p>

</body>
</html>