<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Запись на прием к стоматологу</title>
</head>
<body>
<h1>Запись на прием в Стоматологию 1218</h1>
<form action="#" th:action="@{registration}" th:object="${UserForm}" method="post">
    <h2>Детали записи</h2>
    <p>Имя<input type="text"  /></p>
    <p>Дата <input type="date"  /></p>
    <p>Врач <input type="text" /></p>
    <p>Примечания <input type="text"  /></p>
    <p><input type="submit" value="submit" /></p>
</form>
</body>
</html>